.choosed-severity,
.severity-button {
	margin-right: 20px;
	font-size: 100%;
}

.message-block {
	word-break: break-all;
}

.table>tbody>tr>.message-row-right-col {
	padding-bottom: 20px;
}

.filters-checkbox label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 30px;
}

.filters-filter-options {
	max-height: 256px;
	overflow-y: scroll;
	padding-right: 20px;
}

#control-buttons {
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
}

#control-buttons a {
	margin-right: 8px;
}

#messages-records-count {
	margin-bottom: 10px;
	margin-left: 12px;
}

.message-host-name,
.message-group-name,
.message-thread-name {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.message-row {
	margin-bottom: 20px;
}

.remove-filter.close {
	font-size: 100%;
	margin-right: -14px;
}

.filter-label-to-remove {
	margin-top: 8px;
	font-size: 100%;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 20px;
}

.filter-labels {
	margin-bottom: 4px;
}

.filters-count {
	position: absolute;
	top: -1px;
	right: -16px;
}

.zero-count-filter {
	color: darkgray;
}

.container {
	margin-top: 20px;
}

.connection-form-button {
	width: 100%;
}

#messages-clear-button {
	margin-left: 8px;
}

@media (min-width: 1400px){
	.container {
		width:1370px;
	}
}

@media (min-width: 1500px){
	.container {
		width:1470px;
	}

	.filters-filter-options {
		max-height: 182px;
	}

	#log-prefix-input-div {
		width: 177px;
		margin-right: 20px;
		display: inline-block;
	}
	#severity-input-div {
		width: 100px;
		display: inline-block;
	}
}

@media (min-width: 1600px){
	.container {
		width:1570px;
	}
	#log-prefix-input-div {
		width: 202px;
	}
}

.filter-count-label {
	display: inline-block;
	margin-right: 8px;
	font-weight: bold;
}

.checkbox+.checkbox, .radio+.radio {
	margin-top: -10px;
}

.message-head {
	padding-left: 12px;
	height: 25px;
	padding-top: 5px;
	background: #f2f2f2;
	position: relative;
	font-size: 90%;
}

.message-host {
	font-weight: bold;
}

.message-time {
	padding-left: 20px;
	background: url('/images/time_icon.png') left 1px no-repeat;
}

.message-time,
.message-host,
.message-group {
	margin-right: 8px;
	display: inline-block;
}

.message-thread {
	position: absolute;
	right: 12px;
	top: 5px;
	padding-left: 20px;
	background: url(/images/thread_icon.png) left 2px no-repeat;
}

.message-content {
	padding: 5px 12px 12px 12px;
}

.messages {
	margin: 0 auto;
	max-width: 1100px;
}